# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# VSCode settings
.vscode/

# Operating System specific files
.DS_Store  # For macOS
Thumbs.db  # For Windows

# Python interactive session saved data
*.pyi
